*
*.bak
!*/

!.gitignore
!SwitchESM.bat
!Cathnoquey.esm
!CTQ_*
!/Meshes/CTQ/**
!/Meshes/Terrain/Cathnoquey/**
!/Meshes/landscape/grass/**c
!/Textures/CTQ/**
!/Textures/terrain/Cathnoquey/**
!/Textures/plants/s3dlandscapes/**
!/Textures/landscape/trees/s3dlandscapes/**
!/Sound/CTQ/**
!/Sound/Voices/CTQ/**
!/Sound/FX/CTQ/**
!/Music/CTQ/**
!/lodsettings/Cathnoquey.LOD
!/Textures/BSTamriel/landscape/waves/**
!/Textures/Water/**

/CheckInBackup/**
Skyrim_Stripped.esm
SSEEdit Backups